<a href="https://colab.research.google.com/github/mohith-ds8/Airbnb-Data-Analysis-EDA/blob/main/EDA_Submission_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - EDA on Airbnb Listings in NYC

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Name** - Mohith
##### **Cohort** - Enlighten

# **Project Summary -**

Write the summary here within 500-600 words.

# **GitHub Link -** done

https://github.com/mohith-ds8/Airbnb-Data-Analysis-EDA

# **Problem Statement** done


1. **How many Airbnb units are there in each neighbourhood group?**
2. **How much does a unit cost in each neighbourhood group by average?**
3. **What are the top 10 neighbourhoods by unit count?**
4. **What are the top 10 cheapest neighbourhoods?**
5. **Which room type dominates in each neighbourhood?**
6. **Who are the top 10 hosts in NYC?**
7. **How does price affect the availability of the unit 365 days a year?**
8. **How does price affect the number of reviews?**
9. **What is the minimum number of nights hosts prefer the most?**

#### **Define Your Business Objective?**

## Till date, Airbnb does not own a single piece of real estate, yet they cloaked in a revenue of $6 Billion in 2021. Now, they want to enter the hotel business starting with their first hotel New York City.

## Therefore, we are to do a detailed Exploratory Data Analysis on existing Airbnb units to provide the management with options which is both economical and profitable at the same time.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data*** done

### Import Libraries

In [ ]:
# Import Libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

### Dataset Loading

In [ ]:
# Load Dataset
df = pd.read_csv('/content/Airbnb NYC 2019.csv')

### Dataset First View

In [ ]:
# Dataset First Look
df.head()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df[df.duplicated()]

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

In [ ]:
# Visualizing the missing values
df[df['host_name'].isna()]

In [ ]:
# Visualizing the missing values
df[df['last_review'].isna()]

### What did you know about your dataset?

The Dataset contains details of all the airbnb units in New York City. 
<br> It has a total of 48895 entries with various types information about the unit distributed over 16 columns. The Dataset size is 6 MB and variables are stored in 3 main datatypes:
* int64 - 7
* float64 - 3
* object - 6

## ***2. Understanding Your Variables*** done

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe()

### Variables Description

The 16 variables in the Dataset are:


1. **ID** - Identification number given for the Airbnb unit.
2. **name** - Name of the Airbnb unit.
3. **host_id** - Unique identification number given to the host of the Airbnb unit.
4. **host_name** - Name of the host.
4. **neighbourhood_group** - Neighbourhood group to which the unit belongs to.
5. **neighbourhood** - Neighbourhood to which the unit belongs to.
6. **latitude** - Latitude of the unit.
7. **longitude** - Longitude of the unit.
8. **room_type** - Type of room.
9. **price** - Price charged per night.
10. **minimum_nights** - Minimum number of nights required to stay.
11. **number_of_reviews** - Number of reviews recieved by the unit.
12. **last_review** - Date of the last review.
13. **reviews_per_month** - Ratio of reviews recieved by the unit per month.
14. **calculated_host_listings_count** - Total number of listings by the host.
15. **availability_365** - Availability of the unit in a year in days.

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.

In [ ]:
df['id'].unique()

In [ ]:
df['name'].unique()

In [ ]:
df['host_id'].unique()

In [ ]:
df['host_name'].unique()

In [ ]:
df['neighbourhood_group'].unique()

In [ ]:
df['neighbourhood'].unique()

In [ ]:
df['room_type'].unique()

In [ ]:
df['price'].unique()

In [ ]:
df['minimum_nights'].unique()

In [ ]:
df['number_of_reviews'].unique()

In [ ]:
df['reviews_per_month'].unique()

In [ ]:
df['calculated_host_listings_count'].unique()

In [ ]:
df['availability_365'].unique()

## 3. ***Data Wrangling*** done

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.

### Replace all null values in *name* & *host_name* by room_type
Instead of deleting 'name' and 'host_name' column, we can at least replace the null values by their room type

In [ ]:
# replace null names by room_type
df['name'].fillna(df['room_type'],inplace=True)

In [ ]:
# replace host names by room_type
df['host_name'].fillna(df['room_type'],inplace=True)

In [ ]:
# checking null values
df.isna().sum()

### Droping *last_review* & replacing null values in *reviews_per_month* by zero
We can drop 'last_review' column and we can replace null values in 'reviews_per_month' by 0

In [ ]:
# dropping 'last review' column
df.drop(['last_review'],axis=1,inplace=True)

In [ ]:
# replacing null values in 'reviews per month' by 0
df['reviews_per_month'].fillna(0,inplace=True)

In [ ]:
# checking null values
df.isna().sum()

Therefore all null values are taken cared.

### Replacing price=0 by avg price of neighbour_grp 
We can observe that minimum price is 0 which can't b right, hence we are replacing those values by **average** price based on their 'neighbourhood_type'.

In [ ]:
df.describe()

In [ ]:
# get all rows eith price=0
df[df['price'] == 0]

In [ ]:
avg_price_neighbourhood = pd.DataFrame(df.groupby(['neighbourhood_group'])['price'].mean())

In [ ]:
avg_price_neighbourhood

In [ ]:
df['price'][(df['neighbourhood_group'] == 'Bronx') & (df['price'] == 0)] = 87.496792
df['price'][(df['neighbourhood_group'] == 'Brooklyn') & (df['price'] == 0)] = 124.383207
df['price'][(df['neighbourhood_group'] == 'Manhattan') & (df['price'] == 0)] = 196.875814

In [ ]:
# checking again
df[df['price'] == 0]

In [ ]:
# Changing values of 'minimum_nights' to 365 which are greater than 365
df['minimum_nights']=df['minimum_nights'].apply(lambda x: 365 if x>365 else x)

In [ ]:
df.describe()

### What all manipulations have you done and insights you found?

* Average price of an airbnb unit in NYC is **$152**.
* Average minimum nigths set by the host is **7 days**.
* Each unit gets at least **1 review** per month on an average.
* The highest listing in NYC a single host has is **327**.
* The most expensive Airbnb unit costs **10000 USD**.
* min=0 for days 'availability_365' represents biz is closed / discontinued.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables*** done

In [ ]:
sns.set(rc={'figure.figsize':(10,6)})

#### Chart - 1
A bar plot comparing the number of Airbnb units by neighbourhood group.

In [ ]:
# Chart - 1 visualization code
# Creating a new dataframe neighbourhood_group_count to store number of airbnb units corresponding to the neighbourhood group.

neighbourhood_group_count = pd.DataFrame(df.groupby(['neighbourhood_group'])['id'].count())
neighbourhood_group_count.reset_index(inplace=True)
neighbourhood_group_count.rename(columns={'id':'count'},inplace=True)
neighbourhood_group_count

In [ ]:
# Plotting the chart using Seaborn
neighbourhood_count = sns.barplot(x=neighbourhood_group_count['neighbourhood_group'],y=neighbourhood_group_count['count'])

neighbourhood_count.set_title('Listings in Each Neighbourhood group')
neighbourhood_count.set_xlabel('Neighbourhood Group')
neighbourhood_count.set_ylabel('No. of Airbnb units')

##### 1. Why did you pick the specific chart?

As the values in both x & y axes are not in series / continuous, the bar chart is the best option as details are displayed explicitly.

##### 2. What is/are the insight(s) found from the chart?

Out of the 5 neighbourhood groups, **Brooklyn & Manhattan** have way more units, at least 300% more units than the other 3 neighbourhood groups.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, the gained insights helps creating a positive business impact.

As this is the first experiment from Airbnb, it is safer to stick with either of the top 2 neighbourhood group: **Brooklyn / Manhattan**.

#### Chart - 2
A bar chart for neighbourhood group wise mean price and a box plot for all the price details.

In [ ]:
# Chart - 2 visualization code
# Creating a new dataframe neighbourhood_price_count to store the mean price corresponding to the neighbourhood group.

neighbourhood_price_count = pd.DataFrame(df.groupby(['neighbourhood_group'])['price'].mean())
neighbourhood_price_count.reset_index(inplace=True)
neighbourhood_price_count.rename(columns={'price':'mean price'},inplace=True)
neighbourhood_price_count

In [ ]:
# Plotting the chart using Seaborn
neighbourhood_price = sns.barplot(x=neighbourhood_price_count['neighbourhood_group'],y=neighbourhood_price_count['mean price'])

neighbourhood_price.set_title('Average price in Each Neighbourhood')
neighbourhood_price.set_xlabel('Neighbourhood Group')
neighbourhood_price.set_ylabel('Mean price')

In [ ]:
# Creating a new dataframe df_price_175 to store the dataframe values where 'price' is less than $175.
df_price_175 = df[df['price']<175]

# As 75% of column 'price' is less than $175, we have considered only that dataframe to get a more comprehensive boxplot. 

# Plotting a boxplot using Seaborn

boxplot = sns.boxplot(y= 'price',x= 'neighbourhood_group',data=df_price_175)
boxplot.set_title('Description of Price by Neighbourhood group')
boxplot.set_xlabel('Neighbourhood Group')
boxplot.set_ylabel('Price')

##### 1. Why did you pick the specific chart?

The Box plot chart helps in getting an all-round view of price distribution across neighbourhood groups.

##### 2. What is/are the insight(s) found from the chart?

The range is constant for all neighbourhood groups suggesting that, all neighbourhood groups cater to different types of guests according to their budget.
Manhattan has the highest average price followed by Brooklyn.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, the gained insights helps creating a positive business impact.

As all the tourist attractions in NYC are present mostly in Manhattan & Brooklyn, guests prefer to stay close to this proximity, which in-turn allows hosts to charge higher prices.<br>
Hence Airbnb should look at investing in any of these 2 neighbourhood groups.

#### Chart - 3
A bar polt showing top 10 neighbourhoods by unit count.

In [ ]:
# Chart - 3 visualization code
# Creating a new dataframe top_neigbourhood to store number of airbnb units corresponding to the neighbourhood.

top_neigbourhood = df.groupby(['neighbourhood'])['neighbourhood'].count()
top_neigbourhood.sort_values(ascending=False,inplace=True)

# Creating a new dataframe top_10_neighbourhood to store the top 10 neighbourhood by airbnb unit count.
top_10_neighbourhood = top_neigbourhood.head(10)
top_10_neighbourhood

In [ ]:
# Plotting the chart using Matplotlib
top_10_neighbourhood.plot(kind='bar')

plt.title('Listings in Each Neighbourhood')
plt.xlabel('Neighbourhood')
plt.ylabel('No. of Airbnb units')

##### 1. Why did you pick the specific chart?

As the values in both x & y axes are not in series / continuous, the bar chart is the best option as details are displayed explicitly.

##### 2. What is/are the insight(s) found from the chart?

Williamsburg neighbouhood in Brooklyn has the highest number of Airbnb units.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

As these neighbourhoods are tried and tested over time, it would be the best for Airbnb to locate their hotel in any one of these top 10 neighbourhoods.

#### Chart - 4
A bar plot showing top 10 cheapest neighbourhoods by average price.

In [ ]:
# Chart - 4 visualization code
# Creating a new dataframe price_neigbourhood to store the mean price corresponding to the neighbourhood.

price_neigbourhood = df[(df['neighbourhood_group'] == 'Brooklyn') | (df['neighbourhood_group'] == 'Manhattan') ]
price_neigbourhood = df.groupby(['neighbourhood'])['price'].mean()
price_neigbourhood.sort_values(ascending=False,inplace=True)

# Creating a new dataframe top_10_neighbourhood to store the top 10 cheapest neighbourhood.
price_10_neigbourhood = pd.DataFrame(price_neigbourhood.tail(10))
price_10_neigbourhood.reset_index(inplace=True)
price_10_neigbourhood

In [ ]:
# Plotting the chart using Seaborn
price_10_neigbourhood_chart = sns.barplot(data=price_10_neigbourhood,x='neighbourhood',y='price')

price_10_neigbourhood_chart.set_title('Average price in Each Neighbourhood')
price_10_neigbourhood_chart.set_xlabel('Neighbourhood')
price_10_neigbourhood_chart.set_ylabel('Price')

# Rotate x-axis labels by 80 degrees
price_10_neigbourhood_chart.set_xticklabels(price_10_neigbourhood_chart.get_xticklabels(), rotation=80);

##### 1. Why did you pick the specific chart?

As the values in both x & y axes are not in series / continuous, the bar chart is the best option as details are displayed explicitly.

##### 2. What is/are the insight(s) found from the chart?

The cheapest units have an average price ranging from USD 50-60.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

If Airbnb is thinking of starting off with a small investment, the provided 10 neighbourhoods would be best suited as they have low land price, and therefore will be able to charge customers in range of USD 50-60.

#### Chart - 5
A Countplot showing the count of room type by neighbourhood group.

In [ ]:
# Chart - 5 visualization code
# Plotting the chart using Seaborn
room_type_count = sns.countplot(x=df['room_type'],hue=df['neighbourhood_group'])

room_type_count.set_title('Count of room type by neighbourhood group')
room_type_count.set_xlabel('Room type')
room_type_count.set_ylabel('Count')

##### 1. Why did you pick the specific chart?

The Seaborn countplot is equipped to display the above chart with a single line of code. Hence for all count related plots, Seaborn countplot is preferred.

##### 2. What is/are the insight(s) found from the chart?

There are more private rooms in Brooklyn whereas in Manhattan, more entire homes are let out. As Manhattan has more number of skyscrapers and apartments, we can see more homes being let out. In Brooklyn, there's more land area comparitively, hence we can see more single room, room type being let out.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

If Airbnb has narrowed their choices to Brooklyn & Manhattan, it is best preferred to invest in an entire home if they're going with Manhattan / invest in a single room if they're going with Brooklyn.

#### Chart - 6
A bar plot showing top 10 hosts on Airbnb.

In [ ]:
# Chart - 6 visualization code
# Creating a new dataframe top_10_hosts to store the top 10 hosts by airbnb unit count.

top_10_hosts = pd.DataFrame(df['host_id'].value_counts().head(10))
top_10_hosts

In [ ]:
# Plotting the chart using Matplotlib
top_10_hosts.plot(kind='bar')

plt.title('Hosts vs their Airbnb unit count')
plt.xlabel('Hosts')
plt.ylabel('No. of Airbnb units')

##### 1. Why did you pick the specific chart?

As the values in both x & y axes are not in series / continuous, the bar chart is the best option as details are displayed explicitly.

##### 2. What is/are the insight(s) found from the chart?

The hosts are making big money with their spare homes/rooms, with Airbnb being #1 choice rather than renting out. The top host has a total of 327 properties making passive income for him/her in NYC.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

These top 10 people know the game better than anybody else, therefore Airbnb can get any one of them as a consultant for their first investment.

#### Chart - 7
A Scatter plot showing Airbnb unit availability vs their price.

In [ ]:
# Chart - 7 visualization code
# Creating a dataframe availability_price_df which contains only availability_365 & price from original dataframe.
availability_price_df = df[['availability_365','price']]
availability_price_df = availability_price_df[availability_price_df['availability_365'] !=0]

# Plotting the chart using Seaborn
scatter_plot = sns.scatterplot(data=availability_price_df,x='availability_365',y='price')

scatter_plot.set_title('Units available in 365 days vs their price')
scatter_plot.set_xlabel('Availability 365 days')
scatter_plot.set_ylabel('Price')

##### 1. Why did you pick the specific chart?

A Seaborn scatter plot enables us to visualize each entry in the dataframe, thereby giving us a complete picture, taking all entries into consideration.

##### 2. What is/are the insight(s) found from the chart?

The luxury segment i.e price > $4000 a night rooms are avialable throughout the year.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

If Airbnb is targeting the luxury segment, they have to make sure to be available 365 days a year. These properties are empty most of the year & make their money back in short amount of time due to high pricing. <br>
As this *short booked time* solely depends on the guest and their booking date requirements, it's vital for them to stay open 365 days.

#### Chart - 8
A Scatter plot to check how pricing affects number of reviews.

In [ ]:
# Chart - 8 visualization code
# Creating a dataframe reviews_price_df which contains only number_of_reviews & price from original dataframe.
reviews_price_df = df[['number_of_reviews','price']]

# Consider only those of price less than $2000 for more comprehensive plot.
reviews_price_df = reviews_price_df[reviews_price_df['price']<2000]

# Plotting the chart using Seaborn
scatter_plot2 = sns.scatterplot(data=reviews_price_df,y='number_of_reviews',x='price')

scatter_plot2.set_title('Price vs No. of Reviews')
scatter_plot2.set_xlabel('Price')
scatter_plot2.set_ylabel('No. of Reviews')

##### 1. Why did you pick the specific chart?

A Seaborn scatter plot enables us to visualize each entry in the dataframe, thereby giving us a complete picture, taking all entries into consideration.

##### 2. What is/are the insight(s) found from the chart?

As the price increases, the number of reviews reduces. But also, most individuals would not be able to afford the higher price.<br>
And there can be 2 resasons when a property has got more number of reviews than average. It must be so good that people want to recommend to others, or their experience was so bad, they want people to not pick this unit.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, if Airbnb is planning in the luxury niche, they have to be on point as there's not much reviews and they've got to make sure every review they get is positive.

#### Chart - 9
A Distplot checking the density of Minimum nights.

In [ ]:
# Chart - 9 visualization code
# Plotting the chart using Seaborn
minrt = pd.DataFrame(df[['minimum_nights','room_type']].groupby('room_type')['minimum_nights'].mean())

minrt.plot(kind='bar')
plt.title('Minimum no.of nights distribution')
plt.xlabel('Minimum Nights')

##### 1. Why did you pick the specific chart?

As the values in both x & y axes are not in series / continuous, the bar chart is the best option as details are displayed explicitly.

##### 2. What is/are the insight(s) found from the chart?

The minimum number of nights set by the host for "Entire home/apt" is 8 days on average. The average minimum number of nights for 'Private rooms' and 'Shared room' is ~ 5 days on average.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

To give the customer full flexibility, it is better to set the minimum number of nights to 1. <br>
If the home/room is theme based, For ex: Christmas getaway, the minimum number of nights can be set to 7 days.

#### Chart - 10 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code
# Creating a new dataframe corr_df to store correlation data of df.
corr_df = df.corr()
corr_df

In [ ]:
# Plotting the Heatmap using Seaborn
sns.heatmap(corr_df)

##### 1. Why did you pick the specific chart?

Correlation plots are used to understand which variables are related to each other and the strength of this relationship.

#### Chart - 11 - Pair Plot

In [ ]:
# Pair Plot visualization code
# Plotting the Pairplot using Seaborn

sns.pairplot(df)

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

Answer Here.

# **Conclusion**

Write the conclusion here.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***